configuration {
	modi: "run,drun,filebrowser";
	display-run: "Run";
	display-drun: "DRun";
	display-filebrowser: "Files";
	show-icons:      true;
	sidebar-mode:    true;
}
@theme "~/hypr-dotfiles/rofi/theme.rasi"