* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    color: #ffffff;
}
window#waybar {
    background-color: rgba (44, 44, 44, 0.3);
}
#clock,
#custom-gpu-usage, 
#custom-gpu-temp,
#cpu,
#custom-cpu-temp,
#memory,
#pulseaudio,
#tray,
#custom-separator,
#custom-network-status,
#window,
#keyboard-state,
#language,
#custom-music,
#custom-os{
    background: rgba (55, 55, 55, 0.35);
    margin-top: 4.5px;
    margin-bottom:4.5px
}
#custom-os,
#clock,
#custom-gpu-usage,
#pulseaudio,
#window {
    padding-left: 7px;
}
#keyboard-state,
#custom-network-status {
    margin-right: 5.5px;
}
#clock,
#custom-os {
    margin-left: 5.5px;
}
#keyboard-state,
#custom-network-status {
    padding-right: 7px;
}
#custom-separator{
    padding-left: 10px;
    padding-right: 10px;
}
#custom-network-status {
    font-size: 17px;
    padding-left: 7.5px;
}
#clock {
    border-radius: 20px;
}
#clock,
#custom-music {
    padding-right: 7px;
}
#custom-os,
#custom-gpu-usage,
#window,
#pulseaudio {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#keyboard-state,
#custom-network-status,
#custom-music,
#memory {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}